@charset "utf8";

.has-bg-img {
  background: center / cover no-repeat
    url(/static/christopher-gower-291246-unsplash.jpg);
}
.avatar {
  display: inline-block !important;
}
.m-r-5 {
  margin-right: 5px;
}

.m-t-40 {
  margin-top: 40px;
}

$primary: #46adcb;
$success: #6bcb46;
$danger: #73000a;
$family-sans-serif: "Fira Mono", monospace;

@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/bulma-timeline/src/sass/index.sass";
