@charset "utf8";

.am10 {
  margin: 0 10px 0 10px;
}
.am5 {
  margin: 0 5px 0 5px;
}
.m-t-20 {
  margin-top: 20px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-r-5 {
  margin-right: 5px;
}

.avatar {
  display: inline-block !important;
}

$primary: #46adcb;
$success: #6bcb46;
$danger: #73000a;
$family-sans-serif: "Fira Mono", monospace;

@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/bulma-timeline/src/sass/index.sass";
